.complaint-card{
  // border-top:2px solid;
  // padding-bottom:30px;
  // height: 100% !important;
  // position:relative;
  box-shadow: 6px 13px 31px lighten(color($colors,primary),35%);
  .against{
    img{
      left: 50%;
    transform: translate(-50%);
    position: relative;
      width:auto;
      height:100px;
      // border-radius:50%;
    }
  }
  .title{
    margin-bottom:40px;
  }
  button{
    // position: absolute;
    bottom: -4px;
    transition:0.5s;
    &:active{
      box-shadow: 0 0 22px rgba(0, 0, 0, 0.5215686274509804);
      text-shadow: 0 0 10px black;
    }
  }

}

.complaint-view{
  .header{
    background:rgba(0,0,0,0.7);
    color:white;
    .details{
      width:100%;
    }
  }
  .image{
    width:150px;
    height:200px;
    border:2px solid white;
    display:flex;
    align-items: center;
    background:white;
  }
}
