<ion-header>
    <ion-navbar>
        <ion-navbar color="primary">
            <ion-toolbar>
                <ion-buttons start>
                    <button ion-button color="light" class="navBtnRight" (click)="dismiss()">
                        <span color="light">Cancel</span>
                    </button>
                </ion-buttons>
                <ion-title> {{title | titlecase}}} </ion-title>
            </ion-toolbar>
        </ion-navbar>
    </ion-navbar></ion-header>

<ion-content >

    <ion-card>
        <button ion-item (click)="onAssignedToBtn()">
            <ion-label stacked>Assign To</ion-label>
            <ion-input [(ngModel)]="assignToName" disabled placeholder="Select Employee"></ion-input>
        </button>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-label>Set Priority</ion-label>
            <ion-select [(ngModel)]="priority">
                <ion-option *ngFor="let p of priorityList" [value]="p.id">{{p.name}}</ion-option>
            </ion-select>
        </ion-item>
    </ion-card>

    <ion-card *ngIf="complaint.statusId!=3">
        <ion-item>
            <ion-label>In Progress</ion-label>
            <ion-checkbox [(ngModel)]="inProgress"></ion-checkbox>
        </ion-item>
    </ion-card>

    <div padding>
        <button [disabled]="!(assignTo || priority || inProgress)" (click)="onEditBtn()" ion-button full>Edit</button>
    </div>

</ion-content>