<ion-header>

  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dashboard</ion-title>
    <ion-buttons end>
      <button ion-button icon-only menuClose (click)="onLogoutBtn()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content  class="gray-back">

  <div class="nuts-back"></div>
  <ion-spinner class="graph-loader" *ngIf="!loaded"></ion-spinner>
  <div class="graph" *ngIf="complaintByStatus">
    <h6><span>Complaints</span> <span>Status (Overall)</span></h6>
    <div id="complaintStatus_div"></div>
  </div>

  <div class="graph" *ngIf="complaintByCategoryStatus">
    <h6>Complaints Status (Grouped by Category)</h6>
    <div id="complaintByCategoryStatus_div"></div>
  </div>

  <div class="graph" *ngIf="complaintStatusStoreWise">
    <h6>Complaints Status (Grouped by Store)</h6>
    <div id="complaintStatusStoreWise_div"></div>
  </div>

  <div class="graph"  *ngIf="appreciationStoreWise">
    <h6>Appreciations (Grouped By Store)</h6>
    <div id="appreciationStoreWise_div"></div>
  </div>

  <div class="graph" *ngIf="surveyTakenStoreWise">
    <h6>Surveys (Grouped By Store)</h6>
    <div id="surveyTakenStoreWise_div"></div>
  </div>
  
  <div class="graph" *ngIf="ratingGroupedByStore">
    <h6>Survey Ratings (Grouped By Store)</h6>
    <div id="ratingGroupedByStore_div"></div>
  </div>

  <div class="graph" *ngIf="ratingGroupedByQuestion">
    <h6>Survey Ratings (Grouped By Question)</h6>
    <div id="ratingGroupedByQuestion_div"></div>
  </div>
</ion-content>