<ion-header>
  <ion-navbar color='primary'>
    <ion-title>{{title | titlecase}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="gray-back complaint-view">
  <ion-item no-lines *ngIf="complaint" class="header">
    <div class="d-flex">
      <div padding>
        <div class="image">
          <img src="assets/imgs/user.png" *ngIf="complaint.assignedEmployeePicUrl">
          <img src="assets/imgs/user.png" *ngIf="!complaint.assignedEmployeePicUrl">
        </div>
      </div>
      <div padding class="details">
        <h1>
          <b>{{complaint.againstCategoryName}}</b>
        </h1>
        <h2>
          <b>Store: {{complaint.storeName}}</b>
        </h2>
        <h2 *ngIf="complaint.assignedEmployeeName">Assigned to: {{complaint.assignedEmployeeName}}
          <small>({{complaint.assignedEmployeeId}})</small>
        </h2>
        <h2 *ngIf="complaint.visitorName">Visitor Name: {{complaint.visitorName}}</h2>
        <h2 *ngIf="complaint.ContactNo">Visitor Phone: {{complaint.ContactNo}}</h2>
        <div margin-top>
          <b>{{complaint.title}}</b>
        </div>
        <div>{{complaint.description}}</div>

        <ion-grid margin-top>
          <ion-row>
            <ion-col col col-4>
              <button (click)="comment()" full small ion-button round icon-left padding-left padding-right>
                <ion-icon name="chatbubbles"></ion-icon>
                <b>Comment</b>
              </button>
            </ion-col>
            <ion-col col col-4>
              <button (click)="edit()" full small ion-button round icon-left padding-left padding-right>
                <ion-icon name="md-create"></ion-icon>
                Edit
              </button>
            </ion-col>
            <ion-col col col-4>
              <button (click)="close()" full small ion-button round icon-left padding-left padding-right>
                <ion-icon name="md-remove-circle"></ion-icon>
                Close
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </ion-item>

  <ion-list *ngIf="complaint">
    <ion-item *ngIf="complaint.statusName">
      <ion-icon item-left name="pulse" [style.color]="complaint.statusColor"></ion-icon>
      <b [style.color]="complaint.statusColor">Status</b>
      <div item-right [style.color]="complaint.statusColor">{{complaint.statusName}}</div>
    </ion-item>
    <ion-item *ngIf="complaint.rca">
      <ion-icon item-left name="search" [style.color]="complaint.statusColor"></ion-icon>
      <b [style.color]="complaint.statusColor">RCA</b>
      <div item-right>{{complaint.rca}}</div>
    </ion-item>
    <ion-item *ngIf="complaint.createdAt">
      <ion-icon item-left name="calendar" [style.color]="complaint.statusColor"></ion-icon>
      <b [style.color]="complaint.statusColor">Created at</b>
      <div item-right>{{complaint.createdAt  | amTimeAgo}}</div>
    </ion-item>
    <ion-item *ngIf="complaint.closedOn">
      <ion-icon item-left name="calendar" [style.color]="complaint.statusColor"></ion-icon>
      <b [style.color]="complaint.statusColor">Closed On</b>
      <div item-right>{{complaint.closedOn  | amTimeAgo}}</div>
    </ion-item>
    <ion-item *ngIf="complaint.priorityName">
      <ion-icon item-left name="md-arrow-round-up" [style.color]="complaint.statusColor"></ion-icon>
      <b [style.color]="complaint.statusColor">Priority</b>
      <div item-right>{{complaint.priorityName}}</div>
    </ion-item>
    <ion-item *ngIf="complaint.storeLocation">
      <ion-icon item-left name="navigate" [style.color]="complaint.statusColor"></ion-icon>
      <b [style.color]="complaint.statusColor">Store Location</b>
      <div item-right>{{complaint.storeLocation}}</div>
    </ion-item>
    <ion-item *ngIf="complaint.storeId">
      <ion-icon item-left name="basket" [style.color]="complaint.statusColor"></ion-icon>
      <b [style.color]="complaint.statusColor">Store ID</b>
      <div item-right>{{complaint.storeId}}</div>
    </ion-item>

    <ion-item *ngIf="complaint.id">
      <ion-icon item-left name="finger-print" [style.color]="complaint.statusColor"></ion-icon>
      <b [style.color]="complaint.statusColor">Complaint ID</b>
      <div item-right>{{complaint.id}}</div>
    </ion-item>
  </ion-list>
</ion-content>
