<ion-header>
  <ion-navbar color="primary">
    <ion-title>Survey Details</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="gray-back">
  <img src="https://forum.sketchfab.com/uploads/db4890/1186/bb945a99e752fcb9.png" class="pic-back" />
  <div class="survey-user">
    <div class="date">
      <b>{{otherDetail.createdAt | amCalendar}}</b>
    </div>
    <div class="content">
      <div class="rate">
        {{otherDetail.averageMark}}
        <ion-icon name="star"></ion-icon>
      </div>
      <div class="details">
        <div class="store">
          <b>{{otherDetail.storeName}}</b>
          <p>
            Lorem ipsum is notLorem ipsum is notLorem ipsum is notLorem ipsum is notLorem ipsum is not.
          </p>
        </div>
      </div>
    </div>
    <div class="user">
      <div class="name">
        Name: {{otherDetail.visitorName || 'Akash Gupta'}}
      </div>
      <div class="contact">
        <ion-icon name='call'></ion-icon>{{ otherDetail.visitorContactNo || '+919630394300'}}
        <br>
        <ion-icon name='mail'></ion-icon> {{otherDetail.visitorEmail || 'ag.aksdj@gamasi.com' }}
      </div>
    </div>
  </div>

  <div class="survey-box" *ngFor="let q of survey;let i=index">
    <div class="question">
      <h4>{{i+1}}) {{q.question}}</h4>
    </div>
    <div class="text-answer" *ngIf="q.textValue">
      <h4>{{q.textValue}}</h4>
    </div>
    <div class="rate-answer" *ngIf="q.starValue">
      <h2>
        <rating [(ngModel)]="q.starValue" text-center readOnly="true"></rating>
      </h2>
    </div>
  </div>
</ion-content>