<ion-header>
  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title no-lines>
      Appreciations
    </ion-title>
    <ion-buttons end >
        <change-role (roleChanged)="onRoleChanged($event)"></change-role>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class=" gray-back ">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
<img src="assets/imgs/star.png" class="pic-back" />
  <div class="appreciation-card" *ngFor="let appr of appreciationList">
      <div class="date">{{appr.createdAt | amDateFormat:'LL' }}</div>
      <div class="appreciation">
        <div class="image">
          ★
        </div>
        <div class="details">
          <h4>{{appr.title}}</h4>
          <p>{{appr.description}}</p>
        </div>
      </div>
        <div class="contact-details">
         <div class="store">
           <h5>{{appr.storeName}}</h5>
           <p><ion-icon name="home"></ion-icon> {{appr.storeLocation}}</p>
        </div>
        <div class="guest">
          <h5 *ngIf="appr.visitorName">{{appr.visitorName}}</h5>
          <div class="phone" *ngIf="appr.visitorContactNo"><ion-icon name="call"> </ion-icon> : {{appr.visitorContactNo}}</div>
          <div class="email" *ngIf="appr.visitorEmail"><ion-icon name="mail"> </ion-icon> : {{appr.visitorEmail}}</div>
        </div>
      </div>
    </div>


  <ion-list class="no-comment" *ngIf="appreciationList?.length==0">
    <ion-icon name="list-box"></ion-icon>
    <br>NO RECORD FOUND
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>