<ion-header>
        <ion-navbar color="primary"  no-lines>
            <ion-toolbar>
                <ion-buttons start>
                    <button ion-button color="light" class="navBtnRight" (click)="dismiss()">
                        <span color="light">Cancel</span>
                    </button>
                </ion-buttons>
                <ion-title>Comments</ion-title>
            </ion-toolbar>
        </ion-navbar>
</ion-header>

<ion-content class="gray-back">

    <div class="no-comment" *ngIf="isCommentsEmpty">
        NO COMMENT
    </div>

    <div class="message-box csTransparent" *ngFor="let comm of comments" [ngClass]="{'mine':comm.employeeId==selfId}"
        no-margin>

        <div class="csMyComment">
            <h3>{{ comm.comment }}</h3>
        </div>

        <div class="csCommentTime">
            <span *ngIf="comm.employeeId!==selfId">{{comm.employeeName}} • </span>
            <span>{{ comm.createdAt | amCalendar }}</span>
        </div>

    </div>
    <ion-spinner float-right name="dots" *ngIf="postInProcess"></ion-spinner>

</ion-content>
    
<ion-footer *ngIf="complaint.statusId != 4 && complaint.statusId != 6 " keyboard-attach style="position:fixed" class="bar-stable">
    <div class="d-flex justify-content-between" padding>
            <ion-input [(ngModel)]="inputChat" class="csCommentInput" type="text" placeholder=" Write comment..."></ion-input>
            <button [disabled]="inputChat?.trim().length==0" (click)="postChat()" class="csCommentSend" color="primary" ion-button icon-only>
            <ion-icon name="md-send" role="img"></ion-icon>
        </button>
    </div>

</ion-footer>