<ion-header>
        <ion-toolbar color="primary">
          <ion-buttons start>
            <button ion-button class="navBtnRight" (click)="dismiss()">
              <span color="light">Cancel</span>
            </button>
          </ion-buttons>
          <ion-title>{{title | titlecase}}</ion-title>
        </ion-toolbar>
        <ion-searchbar color='primary' #searchbar [(ngModel)]="searchInput" (ionInput)="onSearchInput($event)" (ionClear)="onSearchClear($event)"></ion-searchbar>
      </ion-header>

<ion-content class="gray-back">
        <ion-list>
            <button ion-item *ngFor="let search of searchTempList" (click)="dismiss(search)">
                <nl-img [src]="search.picUrl" item-left style="height: 50px;width: 50px"></nl-img>
                {{search.name }}
                <ion-badge *ngIf="search.role">{{search.role}}</ion-badge>
                <p *ngIf="search.store"><span bold>Store: </span>{{search.store}}</p>
            </button>
        </ion-list>

    <p *ngIf="noMatch">No Match Found</p>
    <p *ngIf="searchList.length == 0">No Data Available</p>

</ion-content>